<h2>Login</h2>

{{> notification }}

<form action="/login" method="post" class="login-form">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <button type="submit">Login</button>
    <a href="/register">Register</a>
</form>
