<h2>Register</h2>

{{> notification }}

<form action="/register" method="post" class="register-form">
    <label for="new-email">Email</label>
    <input type="text" name="new-email" id="new-email" required />

    <label for="new-password">Password</label>
    <input type="password" name="new-password" id="new-password" required />

    <label for="new-confirm-password">Confirm Password</label>
    <input type="password" name="new-confirm-password" id="new-confirm-password" required />

    <label for="new-receive-emails">Receive email communication (optional)</label>
    <input type="checkbox" name="new-receive-emails" id="new-receive-emails">

    <button type="submit">Register</button>
    <a href="/login">Login</a>
</form>
