{{#if message}}
<p class="notification">{{message}}</p>
{{/if}}

{{#if successMessage}}
<p class="notification success">{{successMessage}}</p>
{{/if}}

{{#if errorMessage}}
<p class="notification error">{{errorMessage}}</p>
{{/if}}
